In [ ]:
pip install folium

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [2]:
df=pd.read_csv('data/7. Base de Atractivos tur√≠sticos (2021).csv', delimiter=';',encoding='latin-1',dtype={"Latitud":str})

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   442 non-null    int64
 1   Codigo               442 non-null    object
 2   Nombre               442 non-null    object
 3   Direccion Atractivo  439 non-null    object
 4   Tipo de Patrimonio   442 non-null    object
 5   Nombre Propietario   442 non-null    object
 6   Latitud              442 non-null    object
 7   Longitud             442 non-null    object
dtypes: int64(1), object(7)
memory usage: 27.8+ KB

In [4]:
df.columns=["id","codigo","nombre","direccion_atractivo","tipo_patrimonio","tipo_propiedad","latitud","longitud"]

In [5]:

df["latitud"]=df["latitud"].str.replace(",",".")
df["longitud"]=df["longitud"].str.replace(",",".")
df["latitud"]=df["latitud"].astype(float)
df["longitud"]=df["longitud"].astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   442 non-null    int64
 1   codigo               442 non-null    object
 2   nombre               442 non-null    object
 3   direccion_atractivo  439 non-null    object
 4   tipo_patrimonio      442 non-null    object
 5   tipo_propiedad       442 non-null    object
 6   latitud              442 non-null    float64
 7   longitud             442 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 27.8+ KB

In [ ]:
df["latitud"]=df["latitud"].str.replace(",",".")
df["longitud"]=df["longitud"].str.replace(",",".")

In [ ]:
df["latitud"]=df["latitud"].astype(float)
df["longitud"]=df["longitud"].astype(float)

In [7]:
df["direccion_atractivo"]=df["direccion_atractivo"].fillna("No se encuentra direccion")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   442 non-null    int64
 1   codigo               442 non-null    object
 2   nombre               442 non-null    object
 3   direccion_atractivo  442 non-null    object
 4   tipo_patrimonio      442 non-null    object
 5   tipo_propiedad       442 non-null    object
 6   latitud              442 non-null    float64
 7   longitud             442 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 27.8+ KB

In [ ]:
df["tipo_propiedad"].value_counts()

In [ ]:
some_map=folium.Map(location=[df["latitud"].mean(),df["longitud"].mean()],zoom_start=10)

In [ ]:
for row in df.itertuples():
    
    some_map.add_child(folium.Marker(location=[row.latitud,row.longitud],popup=row.nombre))

In [ ]:
some_map

In [ ]:
df.groupby(["tipo_patrimonio"])["tipo_patrimonio"].count().sort_values(ascending=True).plot.barh(
                                                                                                title="# Tipos de propiedad",
                                                                                                color="royalblue",fontsize=9)

In [ ]:
df["tipo_patrimonio"].value_counts()

In [ ]:
[]